body {
    font-family:  Arial, sans-serif;
  }

main {
    background: #eee;
    margin: 30px 8px;
    border-radius: 10px;
    padding: 10px

  }

main > h1, main > p {
  padding: 30px 10px 0px 10px;
  text-align: center;
  font-size: 2em;
  color: #333;
}
h1 {
  font-weight: 700;
}
main > p {
  font-size: 1.1em;
  padding: 0px 0px;
}

figure {
  margin: 30 auto;
  text-align: center;
  color: #333; 
  background-color: #fff;
  padding: 30px 30px 0 30px;
  margin: 30px;
  border-radius: 13px;
}

figcaption {
  margin: 20px auto;
  padding: 0 0 20px 0;
  font-size: 1.1em;
  
}

img {
  border-radius: 50px;
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#headline {
  text-align: center;
  }

#tribute-info > ul {
  max-width: 600px;
  margin: 2px auto;
  list-style: none;
}

#tribute-info > ul > li {
  padding: 7px 0;
  line-height: 1.5em;
  text-indent: -50px;
  width: 80%;
  margin-left: 30px;
}

ul {
  display: flex;
  flex-direction: column;
}

blockquote > p, cite {
  max-width: 570px;
  margin: 20px 0 20px 5px;
  text-align: left;
  font-style: italic;   
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 25px 10px 0px 10px;
  color: #333;
}

#footer {
  margin: 30px auto;
  padding: 0 0 30px 0;
  text-align: center;
  max-width: 800px;
    }

blockquote {
  background-color: #fff;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 600px;
}

h3, strong, li {
  color: #333;
}

#footer a {
  color: skyblue
}

#todo {
    font-style: italic;
    color: #333;
}
